$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $gray;
  background-color: #f0f0f0;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.text-center {
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn-wrapper {
  max-width: 300px;
  margin: 50px auto 0;
  padding-bottom: 10px;
}

.btn {
  padding: 0.5rem;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #bbb;
  box-shadow: 0 10px #ccc;
  border: 1px solid #000;
  transition: all .3s;
}

.btn:active {
  background-color: #aaa;
  box-shadow: 0 0 #bbb;
  transform: translateY(10px);
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 100%;
}

.card__header {
  display: flex;
  padding: 1rem;
  padding-bottom: 0;
  justify-content: flex-end;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.card__title {
  color: $gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

